.create-klass{
  background-color: #417C81;
  border-radius: 10px;
  border: 1px solid #417C81;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.create-klass .error{
  background-color: #c0392b;
  color: white;
  padding: 5px;
  margin-bottom: 10px;
}

.create-klass h3{
  display: inline-block;
  border-bottom: 3px double black;
}
